.table-content{
    width: 98%;
    background-color:#ffb3ec;
    height: 220px;
    padding: 5px 10px;
    text-align: start;
    margin-Top: 10px;
    border-radius: 10px;
    border:2px solid #ff4dd2;
}
.table-content:hover{
    box-shadow: 2px 2px 5px 5px #ff99e6;
    transition: 2s;
}
.img-container{
    display: flex;
    padding: 10px;
}
.img-header{
    
    border-radius: 20px;
    padding: 0px 10x;
    margin: auto;
    margin-left:5px;
    width: 280px;
    
   }
   .img-header:hover{
    box-shadow: 2px 2px 5px 5px rgb(173, 173, 185) ;
    transition: 2s;
   }
.header-name{
    margin-top: 0%;
    border-radius: 10px;
    border: 2px solid rgb(155, 155, 133); 
    width: 250px;
    margin-left: 10px;
}
.header{
    display: flex;
    flex-direction: row;
    text-align: center;
}

.list{
    font-size: 20px;
}
h1{
    font-size: 25px;
    color:#cc008b;
}
.flower-type{
    background-color:#ffccef;
    padding: 5px 5px 5px 20px;
    text-align: start;
    border-radius: 10px;
    font-size: 20px;
}
.icon-name{
    margin: auto;
    padding: 10px;
    font-size: 100px;
    margin-left: 100px;
    color: #cc008b;
}